# Core Data Science
pandas
numpy
scikit-learn
scipy
ydata-profiling
joblib
matplotlib
seaborn

# Database Connection
duckdb  # only needed to re-import data from Postgres (1-EDA/01-postgres-to-parquet.ipynb)

# App
streamlit

# Environment
jupyterlab
ipykernel
pyarrow
python-dotenv
