# Core Data Science
pandas
numpy
scikit-learn
scipy
ipywidgets
ydata-profiling
joblib
matplotlib
seaborn

# Database Connection
SQLAlchemy
psycopg2-binary
duckdb

# App
streamlit

# Environment
jupyterlab
ipykernel
pyarrow
python-dotenv
