# Core Data Science
pandas
numpy
scikit-learn
scipy
ydata-profiling
joblib
matplotlib
seaborn

# Database Connection
duckdb  # only needed to re-import data from Postgres (1-EDA/01-postgres-to-parquet.ipynb)
                # and for feature extraction (2-Prototyping/06, 07)

# App
streamlit

# Scraping
requests
beautifulsoup4
filelock
openpyxl

# Environment
jupyterlab
ipykernel
pyarrow
python-dotenv
ipywidgets